In [1]:
%load_ext cudf.pandas

In [2]:
import numpy as np
import pandas as pd

np.random.seed(0)

num_rows = 25_000_000
num_columns = 12

# Create a DataFrame with random data
df = pd.DataFrame(np.random.randint(0, 100, size=(num_rows, num_columns)),
                  columns=[f'Column_{i}' for i in range(1, num_columns + 1)])

In [3]:
df

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,Column_10,Column_11,Column_12
0,44,47,64,67,67,9,83,21,36,87,70,88
1,88,12,58,65,39,87,46,88,81,37,25,77
2,72,9,20,80,69,79,47,64,82,99,88,49
3,29,19,19,14,39,32,65,9,57,32,31,74
4,23,35,75,55,28,34,0,0,36,53,5,38
...,...,...,...,...,...,...,...,...,...,...,...,...
24999995,41,11,82,91,40,9,47,5,5,4,54,63
24999996,83,59,21,62,94,14,47,0,67,97,76,93
24999997,94,75,7,51,37,71,40,91,22,26,97,61
24999998,57,93,41,90,39,85,22,60,42,94,53,93
24999999,11,39,5,58,56,15,48,18,23,66,9,58

In [8]:
df['Column_1']

Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation
Fast implementation not available. Falling back to the slow implementation

0           44
1           88
2           72
3           29
4           23
            ..
24999995    41
24999996    83
24999997    94
24999998    57
24999999    11
Name: Column_1, Length: 25000000, dtype: int64